<!DOCTYPE html>
<html>
<head>
  <title>GoalsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if signed_in? %>
  welcome <%= current_user.username %>
  <%= button_to "Log Out", session_url, method: :delete %>
<% end %>
<%= yield %>

</body>
</html>
